 @media screen and (max-width: 480px) {

	.main div {
		display: block;
		min-width: 100px;
		background-color: white;
	}
	
	.complete, .uncomplete {
	width: 100%;
	background-color: #999;
	}
	h1 {
		/*text-align: center;*/
		font-size: 25px;
	}

	h2 {
		text-align: center;
		font-size: 18px;
	}

	h3 {
		font-size: 18px;
	}

	li {
		font-size: 13px;
	}

}