/*the body of the entire app*/
body {
	background: url(../img/plank1.jpg);
	font-family: sans-serif;
}

header {
	width: 100%;
	background-color: white;
}

h1 {
	margin: 10px 0 0 20px;
	font-weight: bold;
	font-size: 30px;
	color: black;
}

h2 {
	font-size: 18px;
	font-style: italic;
	font-weight: lighter;
	text-align: center;
	padding-bottom: 5px;
	margin: 10px 0 0 0;
	color: black;
}

img {
	border-radius: 5px;
	padding-top: 10px;
}

input {
	text-align: center;
}

.search {
	margin: auto;
	margin-top: 20px;
	max-width: 300px;
}

#item{
	padding: 5px 20px;
	font-size: 16px;
  	border-radius: 2px;
}
/*syling the button*/
#button {
  	width: 50px;
  	background: #5bff55;
  	border-radius: 2px;
  	color: #000;
  	font-size:18px;
  	line-height: 10px;
  	padding: 5px 0;
  	text-shadow: 0 1px #68B25B;
}

.main {
	margin: auto;
	width: 80%;
	height: 70%;
	padding: 5px 5px;
	background-color: white;
	margin-top: 10px;	
	border-radius: 5px;
	clear: both;
}
.main div {
	display: inline-block;
	vertical-align: top;
	background-color: white;
}

.complete, .uncomplete {
	width: 40%;
	background-color: #999;
}

.uncomplete {
	color: green;
}

.complete {
	color: red;
}

.complete li {
	text-decoration: line-through;
}

h3 {
	text-align: center;
}

ul {
	list-style: none;
}
